.listDiv {
    /* transition: transform 0.3s ease; */
    transition: margin 0.3s ease, transform 0.3s ease;
    margin: 0.25rem;
}
.listDiv:hover {
    transform: scale(105%);
    margin-right: 1rem;
    margin-left: 1rem;
}