#settings-table {
    font-size: 1.5rem;
    border-collapse: separate !important;
    border-spacing: 0;
    box-sizing: border-box;
    
}
#settings-table td {
    padding: 1rem 2rem;
    min-height: 4rem;
}
#settings-table tr td:nth-child(2) {
    min-width: 30vw;
}

#settings-table tr td:first-child{
    vertical-align: top;
}
#settings-table tr td:first-child {
    border-right: 1px solid black;
    text-align: right;
}

#settings-table tr:last-child td{
    border-bottom: none;
}

#password-reset-inputs input, #change-username , #change-email {
    background: #e2e2e2;
    border-radius: 0.3rem;
    margin: calc(0.25rem - 2px) 0;
    padding: 0.25rem;
    outline: none;
    border: 2px solid white;
    transition: border ease 200ms;
    outline: none;
}
#password-reset-inputs input:focus, #change-username:focus, #change-email:focus {
    border: 2px solid rgb(200, 200, 200);
}